<div id="navbar" class="navbar d-flex flex-column justify-content-start align-items-start"> 
    <div class="navbar-title"> 
        <span>DASH</span> 
        <span>BOARD</span> 
    </div> 
    <ng-container> 
        <a routerLinkActive="selected" class="link">
            titolo
        </a>
        <a routerLinkActive="selected" class="link">
            titolo
        </a> 
        <a routerLinkActive="selected" class="link">
            titolo
        </a> 
        <a routerLinkActive="selected" class="link">
            titolo
        </a> 
        <a routerLinkActive="selected" class="link">
            titolo
        </a>
    </ng-container> 
</div>