<p-table [value]="users" 
sortField="representative.name" 
sortMode="single"
sortField="username"
[scrollable]="true" 
scrollHeight="60vh" 
rowGroupMode="subheader" 
groupRowsBy="representative.name" 
[paginator]="true" 
[rows]="15" >
  <ng-template pTemplate="header">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columns" [pSortableColumn]="column.field" >
          {{column.header}}
          <p-sortIcon [field]="column.field">aaa</p-sortIcon>
        </th>
      </tr>
    </thead>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
        <td >{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.dateOfBirth}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
      </tr>
  </ng-template>
</p-table>

